doctype html
html
  head
    title The Gift Lab
    link(rel='stylesheet', href='/stylesheets/giftlab.css')
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <link rel="shortcut icon" type="image/png" href="./images/favicon.png"/>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

    <!-- Bootstrap core CSS -->
    //- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="/css/landing-page.min.css" rel="stylesheet">


    <meta property="og:url"                content="http://giftlab.io" />
    <meta property="og:type"               content="brand" />
    <meta property="og:title"              content="The Gift Lab" />
    <meta property="og:description"        content="helps you give directly to the causes you love" />
    <meta property="og:image"              content="./images/home/bullshark.jpg" />
    <meta name="description" content="Welcome" />

    script.
        window['_fs_debug'] = false;
        window['_fs_host'] = 'fullstory.com';
        window['_fs_org'] = 'EX8TC';
        window['_fs_namespace'] = 'FS';
        (function(m,n,e,t,l,o,g,y){
            if (e in m) {if(m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].');} return;}
            g=m[e]=function(a,b){g.q?g.q.push([a,b]):g._api(a,b);};g.q=[];
            o=n.createElement(t);o.async=1;o.src='https://'+_fs_host+'/s/fs.js';
            y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
            g.identify=function(i,v){g(l,{uid:i});if(v)g(l,v)};g.setUserVars=function(v){g(l,v)};g.event=function(i,v){g('event',{n:i,p:v})};
            g.shutdown=function(){g("rec",!1)};g.restart=function(){g("rec",!0)};
            g.consent=function(a){g("consent",!arguments.length||a)};
            g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
            g.clearUserCookie=function(){};
        })(window,document,window['_fs_namespace'],'script','user');

    body
    
        // Navigation
        nav.navbar.navbar-light.bg-light.static-top(id="home" style="padding: 15px;").bg-white
            .container(style="max-width: 1024px")

                //normal layout
                div.col-sm-4.d-none.d-sm-block
                    a.navbar-brand(href='/#home')
                        img.img-fluid(src="../images/GiftLab_Logo.png" style="max-height: 30px; max-width: 100% !important").brand
                div.col-sm-8.d-none.d-sm-block
                    a.float-right(href='/about' style="color: black; padding: 5px") ABOUT
                    a.float-right(href='/#projects' style="color: black; padding: 5px") PROJECTS
                    a.float-right(href='/#howitworks' style="color: black; padding: 5px") HOW IT WORKS

                //mobile layout
                div.d-xs-block.d-sm-none.center
                    div.col-12.center
                        a.navbar-brand(href='/#home').center
                            img.img-fluid(src="../images/GiftLab_Logo.png" style="max-height: 30px; max-width: 100% !important").brand
                        br
                        br
                        a.center(href='/about' style="color: black; padding: 5px") ABOUT
                        br
                        a.center(href='/#projects' style="color: black; padding: 5px") PROJECTS
                        br
                        a.center(href='/#howitworks' style="color: black; padding: 5px") HOW IT WORKS






        div(style="max-width: 1150px; margin: 0 auto ")
            block content
        





    // Footer
    footer.footer.bg-light.center(style="")
        .container
            .row
                .col-12.h-100.text-center.my-auto
                    ul.list-inline.center
                        li.list-inline-item
                            a(href='/about' style="color: black") About
                        li.list-inline-item ⋅
                        li.list-inline-item
                            a(href='/contact' style="color: black") Contact
                        //- li.list-inline-item ⋅
                        //- li.list-inline-item
                        //-     a(href='#') Terms of Use
                        //- li.list-inline-item ⋅
                        //- li.list-inline-item
                        //-     a(href='#') Privacy Policy
                    p.small.mb-4.mb-lg-0(style="color: grey") © The Gift Lab 2018. All Rights Reserved.
                    
                    hr
                    
            p.small.mb-4.mb-lg-0(style="color: grey; margin: 0 auto; max-width: 800px") The Gift Lab is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to amazon.com


                //- .col-lg-6.h-100.text-center.text-lg-right.my-auto
                //-     ul.list-inline.mb-0
                //-         li.list-inline-item.mr-3
                //-             a(href='#')
                //-                 i.fa.fa-facebook.fa-2x.fa-fw
                //-         li.list-inline-item.mr-3
                //-             a(href='#')
                //-                 i.fa.fa-twitter.fa-2x.fa-fw
                //-         li.list-inline-item
                //-             a(href='#')
                //-                 i.fa.fa-instagram.fa-2x.fa-fw
                                    
        // Bootstrap core JavaScript
        script(src='/vendor/jquery/jquery.min.js')
        script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')

