extends _layout

block content
	// Image Showcases
	section.showcase
		.container-fluid.p-0
			.row.no-gutters.panel
				.col-lg-8.text-white.showcase-img(style="background-image: url('/images/home/bullshark.jpg');")
				.col-lg-4.my-auto.padding
					h2 Support great causes
					p.lead.mb-0
						| and know exactly where your money is going
					br
					a.btn.btn-lg.btn-primary(href="/#projects").jumbotronbutton LEARN MORE

	// Icons Grid
	section.features-icons.bg-light.text-center(id="howitworks").bg-white
			div.padding
				h3.center How it works
				br
				p.lead.mb-0 At Gift Lab we're empowering you to be able to donate differently. Our projects are from not-for-profit groups so everything you generously give is tax deductible. With our itemized project lists, we're providing transparency, control, and a platform for you to think creatively in the way you give. Simply donate money to a project budget, gift a microscope from Amazonm or cover a flight with spare airline miles. 
			br
			.container
				.row
					.col-lg-4
						.features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
							img.img-fluid(src="./images/home/FindProject.png")
							br
							br
							h3 Find a project
							p.lead.mb-0 Pick a project you’d like to support. These are not-for-profits, so your gifts are tax-deductible.

					.col-lg-4
						.features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
							img.img-fluid(src="./images/home/GiveDirectly.png")
							br
							br
							h3 Donate differently
							p.lead.mb-0 Be in control how you are gifting: 1) purchase an item, 2) donate to a budget, or 3) recycle an item.

					.col-lg-4
						.features-icons-item.mx-auto.mb-0.mb-lg-3
							img.img-fluid(src="./images/home/Thanks.png")
							br
							br
							h3 Stay updated
							p.lead.mb-0 We’ll update you as the project owners receive their gifts and kick start their efforts.


	// Image Showcases
	section.showcase
		.container-fluid.p-0
			.row.no-gutters.panel
				.col-lg-8.order-lg-2.text-white.showcase-img(style="background-image: url('/images/microplastics/microplastics.jpg');")
				.col-lg-4.order-lg-1.my-auto.padding
					h2 Find a project
					p.lead.mb-0 that you're passionate about and help launch it
					br
					a.btn.btn-lg.btn-primary(href="/#projects").jumbotronbutton SEE PROJECTS

	br
	br

	section.container
		section.row
			h1(id="projects") Current Projects
		section.row.row-eq-height
			each val in content
				if val.Status === "Active"
					div.col-md-4(style="padding: 10px")
						a(href=val.slug).nolinks
							div.center.box.bg-white
								img.img-fluid(src=val.image)
								br
								br
								h3 #{val.ProjectName}
								p Status: 
									span(style="color: lightgreen") #{val["Status"]}
								p(style="color: grey") #{val["Project Description - Short"]}

				else if val.Status === "Complete"
					div.col-md-4(style="padding: 10px")
						div.center.box(style="color: grey")
							br
							h3 #{val.ProjectName}
							//- p #{val["Project Description - Short"]}
							p Status: #{val["Status"]}


	hr


	// Call to Action
	section.call-to-action.text-white.text-center(id="signup")
		.overlay
		.container
			.row
				.col-xl-9.mx-auto
					h2.mb-4 Subscribe to our newsletter for all the best updates
				.col-md-10.col-lg-8.col-xl-7.mx-auto
					form(action='/signup',method='post')
						.form-row
							.col-12.col-md-9.mb-2.mb-md-0
								input.form-control.form-control-lg(type='email', placeholder='Enter your email', name='email')
							.col-12.col-md-3
								button.btn.btn-block.btn-lg.btn-primary(type='submit') SUBMIT

	br
	br
	br
	br