extends _layout





block content

	


	// Image Showcases
	section.showcase
		.container-fluid.p-0
			.row.no-gutters.panel
				.col-lg-8(style="background-image: url('/images/0_home/Main_About.jpg'); background-position: center;  background-size: cover; min-height:200px")
				.col-lg-4.my-auto.padding
					h2 Support great causes
					p.lead.mb-0
						| and know exactly where your money is going
					br
					a.btn.btn-lg.btn-primary(href="/#howitworks").jumbotronbutton LEARN MORE

	// Icons Grid
	section.features-icons.bg-light.text-center(id="howitworks").bg-white
			div(style="margin-left: 70px !important; margin-right: 70px !important;")
				h3.center How it works
				br
				p.lead.mb-0 At Gift Lab we're empowering you to be in full control of your donations. Our platform connects non-profit projects and donors, using itemized lists to provide transparency, flexibility, and confidence to our users. Our vision is to inspire donors to give creatively: donate money directly to a project's budget, purchase a needed item for a team, or give differently by recycling your own unused items or by gifting airline miles.
			br
			.container
				.row
					.col-lg-4
						.features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
							img.img-fluid(src="./images/0_home/FindProject.png")
							br
							br
							h3 Find a project
							p.lead.mb-0 Pick a project you’d like to support. These are not-for-profits, so your gifts are tax-deductible.

					.col-lg-4
						.features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
							img.img-fluid(src="./images/0_home/GiveDirectly.png")
							br
							br
							h3 Donate differently
							p.lead.mb-0 Be in control of how you're gifting: 1) purchase an item, 2) donate to a budget, or 3) recycle an item.

					.col-lg-4
						.features-icons-item.mx-auto.mb-0.mb-lg-3
							img.img-fluid(src="./images/0_home/Thanks.png")
							br
							br
							h3 Stay updated
							p.lead.mb-0 We’ll keep you informed of your donation's impact, sending you updates as your chosen team puts it to use.


	// Image Showcases
	section.showcase
		.container-fluid.p-0
			.row.no-gutters.panel
				.col-lg-8.order-lg-2.text-white(style="background-image: url('/images/0_home/Main_Projects.jpg'); background-position: center;  background-size: cover; min-height:200px")
				.col-lg-4.order-lg-1.my-auto.padding
					h2 Find a project
					p.lead.mb-0 that you're passionate about and help it achieve success
					br
					a.btn.btn-lg.btn-primary(href="/#projects").jumbotronbutton SEE PROJECTS




	section.showcase.bg-white
		div.container.padding
			section.row
				h3(id="projects") Current Projects
			section.row.row-eq-height
				each val in content
					if val.Status === "Active"
						div.col-md-4(style="padding: 10px")
							a(href=val.slug).nolinks
								div.center.box-home.bg-white
									img.img-fluid(src=val.image)
									br
									br
									h5(style="padding-left: 20px; padding-right: 20px") #{val.ProjectName}
									//- p Status: 
									//- 	span(style="color: lightgreen") #{val["Status"]}
									p(style="color: grey; padding-left: 20px; padding-right: 20px") #{val["Project Description - Short"]}

			br
			br
			section.row
				h3(id="projects") Complete
			section.row.row-eq-height
				each val in content
					if val.Status === "Complete"
						div.col-md-4(style="padding: 10px")
							a(href=val.slug).nolinks
								div.center.box-home.bg-white
									img.img-fluid(src=val.image)
									br
									br
									h5(style="padding-left: 20px; padding-right: 20px") #{val.ProjectName}
									//- p Status: 
									//- 	span(style="color: lightgreen") #{val["Status"]}
									p(style="color: grey; padding-left: 20px; padding-right: 20px") #{val["Project Description - Short"]}
	
	section.showcase.bg-white
		div.container.padding
			section.row
				h3(id="projects") Project Updates
			section.row
				br
			<div id="planoly-shoppable-widget"><script src="https://plny.it/embed/giftlab.io" data-columns="12" data-limit="12" data-paginate="true"></script></div>

	section.showcase.bg-white
		div.container.padding
			section.row
				
			
	
	script.
		$( document ).ready(function() {
		    mixpanel.track("homepage_loaded");
		});