extends _layout





block content

	// Image Showcases
	section.showcase
		.container-fluid.p-0
			.row.no-gutters.panel
				.col-lg-4.my-auto.padding
					h4 Donate differently to non profit causes you love
					p.lead Know exactly where your money is going and stay updated with their progress
					//- a.btn.btn-sm.btn-primary.orange(href="http://betagift.herokuapp.com/projects/leatherbacks/#items")
					//- 	div.row
					div.row
						div.col-1
						div.col-3
							div(style="margin: 0 auto").center
								i.fa.fa-amazon.fa-2x.fa-fw(style="margin-left: 7px")
								br
								small WISHLISTS
						div.col-3
							div(style="margin: 0 auto").center
								i.fa.fa-usd.fa-2x.fa-fw
								br
								small MONEY
						div.col-3
							div(style="margin: 0 auto").center
								i.fa.fa-recycle.fa-2x.fa-fw
								br
								small RECYCLE
						div.col-1
					div.row
						br
					div.row
						a.btn.btn-sm.btn-primary.orange(href="/#projects" style="padding: 10px !important; padding-top: 15px !important")
							div.row
								div.row(style="margin: 0 auto")
									i.fa.fa-handshake-o.fa-2x.fa-fw(style="margin-right: 7px;")
									span
										h5 SEE ALL PROJECTS
						
				.col-lg-8(style="background-image: url('/images/0_home/Main_About.jpg'); background-position: center;  background-size: cover; min-height:200px")
	



	//- TRANSPARENCY
	section(id="signup").bg-white.padding.center
		
		//- EMAIL
		.container.padding
			.row
				h2.center See Your Impact
			.row
				.col-xl-9.mx-auto
					p.lead Connect with us for the latest updates, including new non profit listings and Gift Lab feature updates.
					
			.row(id="signupform2")
				.col-md-10.col-lg-8.col-xl-7.mx-auto
					form(action="/email" id="asdf2" method="post")
						div(class="input-group mb-3")
							input(class="form-control" type='email' placeholder='Enter your email' name='email2' id="email2")
							div(class="input-group-append")
								input(type="submit" id="niko" value="SUBSCRIBE" style="background-color: #00AFE1 !important;").btn.btn-primary.titleButton

		script.
			$("#asdf2").submit(function(e) {
				var form = $(this);
				var url = form.attr('action');
				console.log(url, $('#email2').val())
				
				$.ajax({
					type: "POST",
					url: url,
					data: {email: $('#email2').val()}, // serializes the form's elements.
					success: function(results){
						$( "#signupform2" ).replaceWith( "<br><br><h3>Successfully signed up!</h3><br><br><br>" )
					}
				});				
				e.preventDefault(); // avoid to execute the actual submit of the form.
			});



		
		.container
			.row
				.col-xl-9.mx-auto
					a.btn.btn-lg.btn-primary.blue.col-md-4.titleButton(href="https://www.facebook.com/giftlab.io/" target="_blank")
						i.fa.fa-facebook.fa-1x.fa-fw
						small &nbsp; FOLLOW ON FACEBOOK
					a.btn.btn-lg.btn-primary.blue.col-md-4.titleButton(href="https://www.instagram.com/giftlab.io/" target="_blank")
						i.fa.fa-instagram.fa-1x.fa-fw
						small &nbsp; FOLLOW ON INSTAGRAM
						
		.container
			.row(style="width: 100%; margin: 0 auto !important")
			br

			.row(style="width: 100% !important; margin: 0 auto !important")
			script(src="https://plny.it/embed/giftlab.io" data-columns="5" data-limit="10" data-paginate="false")
			div(id="planoly-shoppable-widget" ) 
			br

		.container
			.row(style="width: 100%")
				p
			.row
				p
		

	
	
	//- NEW DONATION METHODS
	//- PROJECTS
	section(id="projects")
		.container.padding
			.row
				h2.center Current Projects
			.row
				p.center.lead Find a project that you're passionate about and contribute money or gifts via Amazon Wishlists
				br
				
				


	section.showcase.bg-white
		div.container
			section.row.row-eq-height
				each val in content
					if val.Status === "Active"
						div.col-md-4(style="padding: 0px; ")
							a(href=val.slug).nolinks
								div.center.bg-white
									div.box-home
										img.img-fluid(src=val.image)
										br
										br
										h5(style="padding-left: 40px; padding-right: 40px") #{val.ProjectName}
										p.lead(style="color: grey; padding-left: 20px; padding-right: 20px") #{val.BusinessName}
										p.lead(style=" padding-left: 20px; padding-right: 20px") #{val["Project Description - Short"]}
										a.btn.btn-lg.btn-primary.col-11.titleButton.orange(href=val.wishlistlink target="_blank" id="amazonButton")
											div.row
												div.row(style="margin: 0 auto")
													i.fa.fa-amazon.fa-1x.fa-fw(style="margin-top: 5px; margin-right: 5px")
													small AMAZON WISHLIST
										a.btn.btn-lg.btn-primary.col-11.titleButton.orange(href=val.slug+"/#budgets")
											div.row
												div.row(style="margin: 0 auto")
													i.fa.fa-usd.fa-1x.fa-fw(style="margin-top: 2px; margin-right: 5px")
													small DONATE MONEY

			br
			br
			section.container.padding
				.row
					h2.center Completed Projects
				.row
					p.center.lead See projects we’ve successfully funded.
			section.row.row-eq-height
				each val in content
					if val.Status === "Complete"
						div.col-md-4(style="padding: 10px")
							a(href=val.slug).nolinks
								div.center.box-home
									img.img-fluid(src=val.image)
									br
									br
									h5(style="padding-left: 40px; padding-right: 40px") #{val.ProjectName}
									p.lead(style="color: grey; padding-left: 20px; padding-right: 20px") #{val.BusinessName}
									p.lead(style="color: grey; padding-left: 40px; padding-right: 40px") #{val["Project Description - Short"]}
	
	

	section.showcase.bg-white
		div.container.padding
			section.row
				
	
	script.
		$( document ).ready(function() {
		    mixpanel.track('homepage_loaded');
		});

		$( '#amazonButton' ).click(function() {
		    mixpanel.track('amazon_clicked');
		});
	