extends _layout





block content

	// Image Showcases
	section.showcase
		.container-fluid.p-0
			.row.no-gutters.panel
				.col-lg-4.my-auto.padding
					h4 Donate differently to non profit causes you love
					p.lead Know exactly where your money is going and stay updated with their progress
					//- a.btn.btn-sm.btn-primary.orange(href="http://betagift.herokuapp.com/projects/leatherbacks/#items")
					//- 	div.row
					div.row
						div.col-2
						div.col-2.center(style="margin: 0 auto")
							i.fa.fa-amazon.fa-2x.fa-fw(style="margin-top: 12px; margin-right: 5px")
							br
							small WISHLISTS
						div.col-2.center(style="margin: 0 auto")
							i.fa.fa-usd.fa-2x.fa-fw(style="margin-top: 12px; margin-right: 5px")
							br
							small MONEY
						div.col-2.center(style="margin: 0 auto")
							i.fa.fa-recycle.fa-2x.fa-fw(style="margin-top: 12px; margin-right: 5px")
							br
							small RE-USE
						div.col-2
					div.row
						br
					div.row
						a.btn.btn-sm.btn-primary.orange(href="/#projects")
							div.row
								div.row(style="margin: 0 auto")
									i.fa.fa-handshake-o.fa-2x.fa-fw(style="margin-top: 12px; margin-right: 5px")
									span
										small SEE ALL
										h5 PROJECTS
						
				.col-lg-8(style="background-image: url('/images/0_home/Main_About.jpg'); background-position: center;  background-size: cover; min-height:200px")
	



	//- TRANSPARENCY
	section(id="signup").bg-white.padding.center
		
		//- EMAIL
		.container.padding
			.row
				h2.center See Your Impact
			.row.signupform
				.col-xl-9.mx-auto
					p.lead Connect with us for the latest updates, including new non profit listings and Gift Lab feature updates.

				.col-md-10.col-lg-8.col-xl-7.mx-auto
					form(id="niko" action="/signup" method="post")
						div(class="input-group mb-3")
							input(class="form-control" type='email' placeholder='Enter your email' name='email' id="email")
							div(class="input-group-append")
								button(type="submit" id="register").btn.btn-primary.titleButton
									span SUBSCRIBE

		

		.container
			.row
				.col-xl-9.mx-auto
					a.btn.btn-lg.btn-primary.blue.col-md-5.titleButton(href="/#howitworks")
						i.fa.fa-facebook.fa-1x.fa-fw
						small &nbsp; FOLLOW ON FACEBOOK
					a.btn.btn-lg.btn-primary.blue.col-md-5.titleButton(href="/#howitworks")
						i.fa.fa-instagram.fa-1x.fa-fw
						small &nbsp; FOLLOW ON INSTAGRAM
						
		.container
			.row(style="width: 100%; margin: 0 auto !important")
			br

			.row(style="width: 100% !important; margin: 0 auto !important")
			script(src="https://plny.it/embed/giftlab.io" data-columns="6" data-limit="12" data-paginate="false")
			div(id="planoly-shoppable-widget" class="center") 
			br

		.container
			.row(style="width: 100%")
				p
			.row
				p
		

	
	
	//- NEW DONATION METHODS
	//- PROJECTS
	section(id="projects")
		.container.padding
			.row
				h2.center Current Projects
			.row
				p.center.lead Find a project that you're passionate about and contribute money or gifts via Amazon Wishlists
				br
				
				


	section.showcase.bg-white
		div.container
			section.row.row-eq-height
				each val in content
					if val.Status === "Active"
						div.col-md-4(style="padding: 0px; ")
							a(href=val.slug).nolinks
								div.center.box-home.bg-white
									img.img-fluid(src=val.image)
									br
									br
									h5(style="padding-left: 40px; padding-right: 40px") #{val.ProjectName}
									p.lead(style="color: grey; padding-left: 20px; padding-right: 20px") #{val.BusinessName}
									p.lead(style=" padding-left: 20px; padding-right: 20px") #{val["Project Description - Short"]}
									a.btn.btn-md.btn-primary.bodyButton(href=val.wishlistlink)
										div.row
											div.row(style="margin: 0 auto")
												i.fa.fa-amazon.fa-1x.fa-fw(style="margin-top: 5px; margin-right: 5px")
												span AMAZON WISHLIST
									a.btn.btn-md.btn-primary.bodyButton(href=val.slug+"/#budgets")
										div.row
											div.row(style="margin: 0 auto")
												i.fa.fa-usd.fa-1x.fa-fw(style="margin-top: 5px; margin-right: 5px")
												span DONATE MONEY

			br
			br
			section.row.padding
					h2.center Completed Projects
			.row.signupform
				.col-xl-9.mx-auto
					p.lead.center See projects we’ve successfully funded.
			section.row.row-eq-height
				each val in content
					if val.Status === "Complete"
						div.col-md-4(style="padding: 10px")
							a(href=val.slug).nolinks
								div.center.box-home.bg-white
									img.img-fluid(src=val.image)
									br
									br
									h5(style="padding-left: 40px; padding-right: 40px") #{val.ProjectName}
									p.lead(style="color: grey; padding-left: 20px; padding-right: 20px") #{val.BusinessName}
									p(style="color: grey; padding-left: 40px; padding-right: 40px") #{val["Project Description - Short"]}
	
	

	section.showcase.bg-white
		div.container.padding
			section.row
				
			
	script.
		$( document ).ready(function() {
		    mixpanel.track("homepage_loaded");
		});

		$("#niko").submit(function(e) {
		    var form = $(this);
		    var url = form.attr('action');
		    console.log(url, $('#email').val())
		    // e.preventDefault(); // avoid to execute the actual submit of the form.
		    $.ajax({
		           type: "POST",
		           url: url,
		           data: {email: $('#email').val()}, // serializes the form's elements.
		           success: function(data)
		           {
		               $( ".signupform" ).replaceWith( "<br><br><h3 >Successfully signed up!</h3><br><br><br>" )
		            
		           }
		         });

		    e.preventDefault(); // avoid to execute the actual submit of the form.
		});