extends _layout





block content

	


	// Image Showcases
	section.showcase
		.container-fluid.p-0
			.row.no-gutters.panel
				.col-lg-4.my-auto.padding.center
					h5 Donate differently to non profit causes you love
					p(style="font-size: .8rem") Know exactly where your money is going and stay updated with their progress
					a.btn.btn-lg.btn-primary.orange(href="/#howitworks") 
						small DONATE VIA
						h5 WISHLISTS
					a.btn.btn-lg.btn-primary(href="/#howitworks").jumbotronbutton
						small SEE ALL
						h5 PROJECTS
				.col-lg-8(style="background-image: url('/images/0_home/Main_About.jpg'); background-position: center;  background-size: cover; min-height:200px")
	
	//- EMAIL SIGNUP
	section(id="signup").bg-white.padding.center
		//- .overlay
		.container
			.row( id="signupform")
				.col-xl-9.mx-auto
					h4.mb-4 STAY UPDATED
					p Connect with us for the latest updates, including new non profit listings and Gift Lab feature updates.

				.col-md-10.col-lg-8.col-xl-7.mx-auto
					form(id="asdf" action="/signup" method="post")
						div(class="input-group mb-3")
							input(class="form-control" type='email' placeholder='Enter your email' name='email' id="email")
							div(class="input-group-append")
								input(class="btn btn-primary" type="submit" id="register" value='SUBMIT')

						//- .form-row
						//- 	.col-12.col-md-9.mb-2.mb-md-0
						//- 		input.form-control.form-control-lg()
							
	

	//- SOCIAL FEED
	section(id="social").bg-white.padding.center
		//- .overlay
		.container
			.row
				.col-xl-9.mx-auto
					h4.mb-4 SEE YOUR IMPACT
					a.btn.btn-lg.btn-primary.blue.col-md-5(href="/#howitworks") 
						small FOLLOW ON FACEBOOK
					a.btn.btn-lg.btn-primary.blue.col-md-5(href="/#howitworks") 
						small FOLLOW ON INSTAGRAM
		.container
			.row(style="width: 100%; margin: 0 auto !important")
			br

			.row(style="width: 100%;")
			script(src="https://plny.it/embed/giftlab.io" data-columns="6" data-limit="12" data-paginate="false")
			div(id="planoly-shoppable-widget" ) 
			br

	section.showcase.bg-white
		.container
			.row(style="width: 100%")
				p
			.row
				p
	

	//- PROJECTS
	section.showcase
		.container
			.row.panel
				.col-lg-4.order-lg-1.my-auto.padding
					h2 Current Projects
					p.lead.mb-0 Find a project that you're passionate about and help it achieve success
					br
				.col-lg-8.order-lg-2.text-white(style="background-image: url('/images/0_home/Main_Projects.jpg'); background-position: center;  background-size: cover; min-height:200px")
				


	section.showcase.bg-white
		div.container.padding
			section.row.row-eq-height
				each val in content
					if val.Status === "Active"
						div.col-md-4(style="padding: 10px")
							a(href=val.slug).nolinks
								div.center.box-home.bg-white
									img.img-fluid(src=val.image)
									br
									br
									h5(style="padding-left: 20px; padding-right: 20px") #{val.ProjectName}
									p(style="color: grey; padding-left: 20px; padding-right: 20px") #{val["Project Description - Short"]}

			br
			br
			section.row
				h3(id="projects") Complete
			section.row.row-eq-height
				each val in content
					if val.Status === "Complete"
						div.col-md-4(style="padding: 10px")
							a(href=val.slug).nolinks
								div.center.box-home.bg-white
									img.img-fluid(src=val.image)
									br
									br
									h5(style="padding-left: 20px; padding-right: 20px") #{val.ProjectName}
									//- p Status: 
									//- 	span(style="color: lightgreen") #{val["Status"]}
									p(style="color: grey; padding-left: 20px; padding-right: 20px") #{val["Project Description - Short"]}
	
	

	section.showcase.bg-white
		div.container.padding
			section.row
				
			
	script.
		$( document ).ready(function() {
		    mixpanel.track("homepage_loaded");
		});

		
	