extends _layout 

block content
	// Image Showcases
	<script src="https://www.paypalobjects.com/api/checkout.js"></script>

	section.showcase
			.row.panel
				.col-lg-5.my-auto.showcase-text.padding
					h2 #{content.ProjectName}
					p.lead.mb-0
						| #{content["Project Description - Short"]}
					br
					br
				.col-lg-7.text-white.showcase-img(style="background-image: url(' "+content.image+" ')")
				

	section.row.row-eq-height.bg-white
		div.col-md-6
			div.padding
				br
				h3 DETAILS
				p #{content["Project Description - Long"]}
				br
		div.col-md-6.panel.padding
			br
			img.thumbnail(src=content.researcherimage alt="Image Title")
			hr
			h3= content["Researcher"]
			p= content["Researcher profile"]
		

	
	// Icons Grid
	section.features-icons.bg-light.text-center.padding
			.container.bg-white(style="padding: 20px")
				h3.center HOW TO CONTRIBUTE
				br
				p The Gift Lab is about giving our donors the power to control where their generous donations go. Below is a list of all the different things that go into this research project. From expedition equipment to flights, and a breakdown of the elusive “admin fees”. 
				br

				.row
					.col-lg-4
						.features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
							h3 Purchase and ship a specific item directly
							a.btn.btn-lg.btn-primary.orange(href=content.wishlistlink target="_blank" style="padding: 20px") Amazon Wishlist
					.col-lg-4
						.features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
							h3 Donate money to specific budgets
							a.btn.btn-lg.btn-primary.green(href="#") Cover Cash Needs
					.col-lg-4
						.features-icons-item.mx-auto.mb-0.mb-lg-3
							h3 Recycle an item to give it a second life
							a.btn.btn-lg.btn-primary.blue(href="/contact") Donate Items	
				hr

	br
	br
	

	section.container
		h1.center Item Needs
		br
		each val in skus
			if val.bucket == "Equipment"
				div.row.box(style="background-color: white") 
					div.col-12
						h5 #{val["sku_name"]} ($#{val['priceperunitusd']} each)
						// p(style="color:grey")= val["Bucket"]
					div.col-md-8
						p= val["description"]
						p Need: #{val['quantityneeded']}&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Total Cost: $#{val['totalcostusd']}
						meter(min="0" value=val['donatedsofar'] max=val['Total Cost USD'] style="width: 100%").pull-right
						br
						p(style="text-align: right") Gifted: #{val['donatedsofar']} | Remaining: YYY
					div.col-md-4
						a(href=content.wishlistlink target="_blank").btn.btn-primary.orange.pull-right(style="width: 100%; padding: 20px" ) Amazon Wishlist
						br
						br
						a(href="/contact").pull-right or donate directly

	br
	br
	br
	br
	
							
	section.container
		h1.center Cash Needs
		br
		p(style="color: grey; max-width: 800px; margin: 0 auto; text-align: center") If your donation can not be utilized for the intended cause, the non-profit reserves the right to use the donation for another purpose within their organization.
		br
		each val in skus
			if val.bucket == "Budget"
				div.row.box(style="background-color: white")
					div.col-12
						h5 #{val["sku_name"]}
						// p(style="color:grey")= val["Bucket"]
					div.col-md-8
						p= val["description"]
						p Total Budget: $#{val['totalcostusd']}
						meter(min="0" value=val['donatedsofar'] max=val['totalcostusd'] style="width: 100%").pull-right
						br
						p(style="text-align: right") Gifted: #{val['donatedsofar']} | Remaining: YYY
					div.col-md-4
						//form
						// 	.form-group.row
						//input(id="amount" class="form-control col-4" type="number" name="amount" value="0" min="0" max=val['priceperunitusd'])
						// 		input(name="sku" value=val['sku'] style="display: none")
						div(class="paypal-button pull-right" id=val['sku'] data-sku=val['sku'] data-price=val['priceperunitusd'])
						// 		button(class="btn btn-primary green col-7" type="submit") Pay with PayPal
						a(href="/contact").pull-right or donate directly
							
									


		br
		br
		br
		br

		
			
		script.
			document.querySelectorAll('.paypal-button').forEach(function(selector) {

				// console.log(selector.dataset.sku)

				paypal.Button.render({
					env: 'sandbox', 		// Or 'production' or 'sandbox'
			        style: { 				// Specify the style of the button
			            label: 'pay',
			            size:  'medium',    // small | medium | large | responsive
			            shape: 'pill',     // pill | rect
			            color: 'blue',		// gold | blue | silver | black
			            tagline: 'false'      
			        },
					// Set up the payment:
					// 1. Add a payment callback
					payment: function(data, actions) {
						// 2. Make a request to your server
						return actions.request.post('/paypal/create-payment/')
							.then(function(res) {
							// 3. Return res.id from the response
								return res.id;
							});
					},
					// Execute the payment:
					// 1. Add an onAuthorize callback
					onAuthorize: function(data, actions) {
						// 2. Make a request to your server
						return actions.request.post('/paypal/execute-payment/'+selector.dataset.sku+'/'+selector.dataset.price, {
							paymentID: data.paymentID,
							payerID:   data.payerID
						})
						.then(function(res) {
							// 3. Show the buyer a confirmation message.
							window.location.replace("/thanks");
							console.log(res)
							});
					}
				}, selector);
			})
