extends _layout 

block content
	// Image Showcases
	section.showcase
		.container-fluid.p-0
			.row.no-gutters.panel
				.col-lg-5.my-auto.showcase-text.padding
					h2 #{content.Title}
					p.lead.mb-0
						| #{content["Project Description"]}
					br
					br
				.col-lg-7.text-white.showcase-img(style="background-image: url(' "+links.moneyshot+" ')")
				

	section.row.row-eq-height
		div.col-md-6
			div.padding
				br
				h3 DETAILS
				p #{content["Project Description"]}
				br
				h3 CORPORATE DONORS
				div.row
					each val in links.donors
						div.col-4.col-md-2
							img.img-fluid(src= val)
		div.col-md-6.panel.padding
			br
			img.thumbnail(src=links.contactPhoto alt="Image Title")
			hr
			h3= content["Researcher"]
			p= content["Researcher profile"]
		

	
	// Icons Grid
	section.features-icons.bg-light.text-center.padding
			h3.center HOW TO CONTRIBUTE
			br
			br
			br
			.container
				.row
					.col-lg-4
						.features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
							h3 Order items for the project
							a.btn.btn-lg.btn-primary.orange(href=links.AmazonWishlistLink) Amazon Wishlist
					.col-lg-4
						.features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
							h3 Prefer to cover cash needs of the project?
							a.btn.btn-lg.btn-primary.green(href=links.Cash) Cover Cash Needs
					.col-lg-4
						.features-icons-item.mx-auto.mb-0.mb-lg-3
							h3 Have items already? Donate it to the project
							a.btn.btn-lg.btn-primary.blue(href="/contact") Donate Items	

	br
	br
	br
	br

	section.container
		each val in giftlist
			div.row.box
				div.col-md-2
					img.img-thumbnail(src=val.itemImage)
				div.col-md-2
					h5= val["Item Name"]
				div.col-md-5
					p= val["Description/Use/Justification"]
				if val.Bucket == "Equipment"
					div.col-md-3
						a(href=links.AmazonWishlistLink).btn.btn-primary.orange Amazon Wishlist
				else if val.Bucket == "Expedition Expenses"
					div.col-md-3
						form(action="/paypal/submit" method="POST")
							// .form-group
								//label(for="amount") Amount to pay in USD (1 - 9, default 1)
								//input(id="amount" class="form-control col-4" type="number" name="amount" value=' val["Price/Unit USD"] ' min="1" max="val['Price/Unit USD']")
							.form-group
								p $ 
									label(id="amount") #{val["Price/Unit USD"]}
								// label(for="description") Payment description
								//input#description.form-control(type="text" name="description" maxlength="100" placeholder="Optional")
							a(class="btn btn-primary btn-lg" href="/submit/#{val["Price/Unit USD"]}") Pay with PayPal
				else
					div.col-md-3
						a(href="/contact").btn.btn-primary.blue Donate Items
		br
		br
		br
		br