extends _layout

block content
	// Image Showcases
	section.showcase
		.container-fluid.p-0
			.row.no-gutters.panel
				.col-lg-7.text-white.showcase-img(style="background-image: url(' "+links.moneyshot+" ')")
				.col-lg-5.my-auto.showcase-text.padding
					h2 #{content.Title}
					p.lead.mb-0
						| #{content["Project Description"]}
					br
					br

	div.row.row-eq-height
		div.col-md-5.panel.padding
			br
			img.thumbnail(src=links.contactPhoto alt="Image Title")
			hr
			h3= content["Researcher"]
			p= content["Researcher profile"]
		div.col-md-7
			div.padding
				br
				h3 DETAILS
				p #{content["Project Description"]}
				br
				h3 CORPORATE DONORS
				div.row
					each val in links.donors
						div.col-sm-2
							img.img-fluid(src= val)

	
	// Icons Grid
	section.features-icons.bg-light.text-center.padding
			h3.center HOW TO CONTRIBUTE
			br
			br
			br
			.container
				.row
					.col-lg-4
						.features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
							h3 Order items for the project
							a.btn.btn-lg.btn-primary.orange(href=links.AmazonWishlistLink) Amazon Wishlist
					.col-lg-4
						.features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
							h3 Prefer to cover cash needs of the project?
							a.btn.btn-lg.btn-primary.green(href=links.Cash) Cover Cash Needs
					.col-lg-4
						.features-icons-item.mx-auto.mb-0.mb-lg-3
							h3 Have items already? Donate it to the project
							a.btn.btn-lg.btn-primary.blue(href="/contact") Donate Items	

	br
	br
	br
	br

	div.container
		each val in giftlist
			div.row.box
				div.col-md-2
					img.img-thumbnail(src=val.itemImage)
				div.col-md-2
					h5= val["Item Name"]
				div.col-md-5
					p= val["Description/Use/Justification"]
				if val.Bucket == "Equipment"
					div.col-md-3
						a(href=links.AmazonWishlistLink).btn.btn-primary.orange Amazon Wishlist
				else if val.Bucket == "Expedition Expenses"
					div.col-md-3
						a(href=links.Cash).btn.btn-primary.green Donate Cash Now
				else
					div.col-md-3
						a(href="/contact").btn.btn-primary.blue Donate Items
	br
	br
	br
	br