extends _layout 

block content
	// Image Showcases
	<script src="https://www.paypalobjects.com/api/checkout.js"></script>

	section.showcase
			.row.panel
				.col-lg-5.my-auto.showcase-text.padding
					h2 #{content.ProjectName}
					p.lead.mb-0
						| #{content["Project Description - Short"]}
					br
					br
				.col-lg-7.text-white.showcase-img(style="background-image: url(' "+content.image+" ')")
				

	section.row.row-eq-height.bg-white
		div.col-md-6
			div.padding
				br
				h3 DETAILS
				p #{content["Project Description - Long"]}
				br
		div.col-md-6.panel.padding
			br
			img.thumbnail(src=content.researcherimage alt="Image Title")
			hr
			h3= content["Researcher"]
			p= content["Researcher profile"]
		

	
	// Icons Grid
	section.features-icons.bg-light.text-center.padding
			.container.bg-white(style="padding: 20px")
				h3.center How to contribute
				br
				p All donations to this project are tax deductible, simply select an item you'd like to purchase or a budget you'd like to donate to. If you have another idea on how you can fufill this need, contact us by completing the "donate differently" form. 
				br

				.row
					.col-lg-4
						.features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
							h3 Gift an item directly
							a.btn.btn-lg.btn-primary.orange(href="#items" style="padding: 20px") See Wishlist
					.col-lg-4
						.features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
							h3 Donate to a budget
							a.btn.btn-lg.btn-primary.green(href="#budgets"  style="padding: 20px") Give via Paypal
					.col-lg-4
						.features-icons-item.mx-auto.mb-0.mb-lg-3
							h3 Give differently
							a.btn.btn-lg.btn-primary.blue(href="/contact"  style="padding: 20px") Contact us
				hr

	br
	br
	

	section.container(id="items")
		h1.center Items in Need
		br
		each val in skus
			if val.bucket == "Item"
				div.row.box(style="background-color: white") 
					div.col-12
						h5 #{val["sku_name"]} ($#{val['priceperunitusd']} each)
						// p(style="color:grey")= val["Bucket"]
					div.col-md-8
						p= val["description"]
						p Need: #{val['quantityneeded']}&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Total Cost: $#{val['totalcostusd']}
						meter(min="0" value=val['donatedsofar'] max=val['Total Cost USD'] style="width: 100%").pull-right
						br
						p(style="text-align: right") Gifted: #{val['donatedsofar']} | Remaining: YYY
					div.col-md-4
						a(href=content.wishlistlink target="_blank").btn.btn-primary.orange.pull-right(style="width: 100%; padding: 20px" ) Amazon Wishlist
						br
						br
						a(href="/contact").pull-right or donate directly

	br
	br
	br
	br
	
							
	section.container(id="budgets")
		h1.center Project Budgets
		p.lead.mb-0 Our project teams have worked hard to give the best estimates possible, but budgets and prices of items can fluctuate. Should something change, your monetary donation will be used for another aspect of this project.
		br
		p(style="color: grey; max-width: 800px; margin: 0 auto; text-align: center") If your donation can not be utilized for the intended cause, the non-profit reserves the right to use the donation for another purpose within their organization.
		br
		each val in skus
			if val.bucket == "Budget"
				div.row.box(style="background-color: white")
					div.col-12
						h5 #{val["sku_name"]}
						// p(style="color:grey")= val["Bucket"]
					div.col-md-8
						div(id=val['sku'])
							p= val["description"]
							p Total Budget: $#{val['totalcostusd']}
							meter(min="0" value=val['donatedsofar'] max=val['totalcostusd'] style="width: 100%").pull-right
							br
							if val.donatedsofar == null
								p(style="text-align: right") Gifted: $0 | Remaining: $#{val['remaining']}
							else
								p(style="text-align: right") Gifted: $#{val['donatedsofar']} | Remaining: $#{val['remaining']}
					div.col-md-4
						div.row
							p.col-3 $
							input.form-control.col-8(type="number" name="amount" value="20" min="0" max=val['totalcostusd'] class=val['sku'])
						br
						div.row
							div(data-sku=val['sku']).paypal-button.pull-right
							a(href="/contact").pull-right or donate directly
							
									


		br
		br
		br
		br

		
			
		script.
			document.querySelectorAll('.paypal-button').forEach(function(selector) {

				// console.log(selector.dataset.sku)

				paypal.Button.render({
					commit: true,
					env: 'production', 		// Or 'production' or 'sandbox'
			        style: { 				// Specify the style of the button
			            label: 'pay',
			            size:  'medium',    // small | medium | large | responsive
			            shape: 'pill',     // pill | rect
			            color: 'blue',		// gold | blue | silver | black
			            tagline: 'false'      
			        },
					// Set up the payment:
					// 1. Add a payment callback
					payment: function(data, actions) {
						// 2. Make a request to your server
						// console.log(document.getElementsByClassName(selector.dataset.sku)[0].value)
						return actions.request.post('/paypal/create-payment/'+selector.dataset.sku+'/'+document.getElementsByClassName(selector.dataset.sku)[0].value)
							.then(function(res) {
								console.log(res)
							// 3. Return res.id from the response
								return res.id;
							});
					},
					// Execute the payment:
					// 1. Add an onAuthorize callback
					onAuthorize: function(data, actions) {
						// 2. Make a request to your server
						return actions.request.post('/paypal/execute-payment/'+selector.dataset.sku+'/'+document.getElementsByClassName(selector.dataset.sku)[0].value, {
							paymentID: data.paymentID,
							payerID:   data.payerID
						})
						.then(function(res) {
							// 3. Show the buyer a confirmation message.
							
							window.setTimeout(function() {
								window.location.reload();
								}, 6000);
							console.log(res)
							selector.innerHTML = '<br><br><h3>THANK YOU</h3><br><p>An email with your order has been sent to your inbox</p><br><img class="thumbnail" style="max-width: 200px" src="/images/thanks/octo.gif" alt="Octo" /><br><br>' 
							});
							
							
					}
				}, selector);
			})
