extends _layout 

block content
	// Image Showcases
	<script src="https://www.paypalobjects.com/api/checkout.js"></script>

	section.showcase
		.container-fluid.p-0
			.row.no-gutters.panel
				.col-lg-5.my-auto.showcase-text.padding
					h2 #{content.ProjectName}
					p.lead.mb-0
						| #{content["Project Description - Short"]}
					br
					br
				.col-lg-7.text-white.showcase-img(style="background-image: url(' "+content.image+" ')")
				

	section.row.row-eq-height
		div.col-md-6
			div.padding
				br
				h3 DETAILS
				p #{content["Project Description - Long"]}
				br
		div.col-md-6.panel.padding
			br
			img.thumbnail(src=content.researcherimage alt="Image Title")
			hr
			h3= content["Researcher"]
			p= content["Researcher profile"]
		

	
	// Icons Grid
	section.features-icons.bg-light.text-center.padding
			.container
				hr
				h3.center HOW TO CONTRIBUTE
				br
				p The Gift Lab is about giving our donors the power to control where their generous donations go. Below is a list of all the different things that go into this research project. From expedition equipment to flights, and a breakdown of the elusive “admin fees”. 
				br
				hr

				.row
					.col-lg-4
						.features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
							h3 Purchase and ship a specific item directly
							a.btn.btn-lg.btn-primary.orange(href=content.wishlistlink) Amazon Wishlist
					.col-lg-4
						.features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
							h3 Donate money to specific budgets
							a.btn.btn-lg.btn-primary.green(href="#") Cover Cash Needs
					.col-lg-4
						.features-icons-item.mx-auto.mb-0.mb-lg-3
							h3 Recycle an item to give it a second life
							a.btn.btn-lg.btn-primary.blue(href="/contact") Donate Items	
				hr

	br
	br
	br
	br

	section.container
		each val in skus
			if val.ProjectID === content["ProjectID"]
				div.row.box
					div.col-md-2
						h5= val["sku_name"]
						p(style="color:grey")= val["Bucket"]
					div.col-md-7
						p= val["Description/Use/Justification"]
						p(style="color:grey") Per Unit: $#{val['Price/Unit USD']} | Quantity Needed: #{val['Quantity Needed']} | Total Cost: $#{val['Total Cost USD']}
						p(style="color:grey") Given so far: Coming Soon | Still needed: Coming Soon
						meter(value="50" min="0" max=val['Total Cost USD'] style="width: 80%")
						br
						br

					if val.Bucket == "Equipment"
						div.col-md-3
							a(href=content.wishlistlink).btn.btn-primary.orange.pull-right(style="width: 100%") Amazon Wishlist

					
					else if val.Bucket == "Budget"
						div.col-md-3
							// form(action="/paypal/submit" method="POST")
							// 	.form-group.row
							// 		input(id="amount" class="form-control col-4" type="number" name="amount" value="0" min="0" max=val['Price/Unit USD'])
							// 		input(name="sku" value=val['sku'] style="display: none")
							// 		button(class="btn btn-primary green col-7" type="submit") Pay with PayPal
							// a(href="/contact").pull-right other
							div(class="paypal-button" data-my-attribute=val['sku'])
					
					else
						div.col-md-3
							a(href="/contact").btn.btn-primary.blue.pull-right(style="width: 100%") Donate Items

		br
		br
		br
		br

		
			
		script.
			document.querySelectorAll('.paypal-button').forEach(function(selector) {
				paypal.Button.render({
					env: 'sandbox', // Or 'production'
					// Set up the payment:
					// 1. Add a payment callback
					payment: function(data, actions) {
						// 2. Make a request to your server
						return actions.request.post('/paypal/create-payment/')
						.then(function(res) {
						// 3. Return res.id from the response

							return res.id;
						});
					},
					// Execute the payment:
					// 1. Add an onAuthorize callback
					onAuthorize: function(data, actions) {
						// 2. Make a request to your server
						return actions.request.post('/paypal/execute-payment/', {
							paymentID: data.paymentID,
							payerID:   data.payerID
						})
						.then(function(res) {
							// 3. Show the buyer a confirmation message.
							console.log(res)
							});
					}
				}, selector);
			})

		//- script.
		//- 	paypal.Button.render({
		//- 		env: 'sandbox', // Or 'production'
		//- 		// Set up the payment:
		//- 		// 1. Add a payment callback
		//- 		payment: function(data, actions) {
		//- 			// 2. Make a request to your server
		//- 			return actions.request.post('/paypal/create-payment/')
		//- 			.then(function(res) {
		//- 			// 3. Return res.id from the response

		//- 				return res.id;
		//- 			});
		//- 		},
		//- 		// Execute the payment:
		//- 		// 1. Add an onAuthorize callback
		//- 		onAuthorize: function(data, actions) {
		//- 			// 2. Make a request to your server
		//- 			return actions.request.post('/paypal/execute-payment/', {
		//- 				paymentID: data.paymentID,
		//- 				payerID:   data.payerID
		//- 			})
		//- 			.then(function(res) {
		//- 				// 3. Show the buyer a confirmation message.
		//- 				console.log(res)
		//- 				});
		//- 		}
		//- 	}, '#paypal-button');
