extends _layout

block content

	div.row.row-eq-height
		div.col-md-8.no-padding
			img.img-fluid.w-100(src=project.moneyshot alt="Image Title")
		div.col-md-4.panel
			br
			br
			h3 #{project.title}
			hr
			h5 Research to better protect our leatherback populations in North, Central and South America

	br

	div.row.row-eq-height
		div.col-md-4.panel
			br
			img.thumbnail(src=project.contactPhoto alt="Image Title")
			hr
			h3= project.contactName
			p= project.contactDescription
		div.col-md-8
			div.padding
				br
				h3 PROJECT DETAILS
				p #{project.intro}
				br
				h3 CORPORATE DONORS
				div.row
					each val in project.donors
						div.col-sm-2
							img.img-fluid(src= val)

	br
	br
	hr
	br
	br

	h3.center HOW TO CONTRIBUTE

	br
	br

	div.row
		div.col-md-4.center
			p Order it for the project from
			a(href="https://amzn.to/2mtawRT").btn.orange amazon wishlist
		div.col-md-4.center
			p Donate it to project now
			a(href="/contact").btn.blue donate items
		div.col-md-4.center
			p See cash needs
			a(href="https://www.engagingnetworks.net/us/").btn.green donate cash now

	br
	br
	hr
	br
	br

	div
		each val in project.itemsNeeded
			div.box
				p= val.itemTitle