extends _layout

block content
	// Image Showcases
	section.showcase
		.container-fluid.p-0
			.row.no-gutters.panel
				.col-lg-7.text-white.showcase-img(style="background-image: url('/images/leatherbacks/leatherback.png');")
				.col-lg-5.my-auto.showcase-text
					h2 #{content.leatherbacks[0].Title}
					p.lead.mb-0
						| Research to better protect our leatherback populations in North, Central and South America
					br
					a.btn.btn-lg.btn-primary(href="/projects/leatherbacks") LEARN MORE
	
	br
	br
	br
	br


	div.row.row-eq-height
		div.col-md-4
			div.center
				a(href="/projects/leatherbacks")
					img.img-fluid(src=links.leatherbacks.moneyshot)
				h3 #{content.leatherbacks[0].Title}
				a(href="/projects/leatherbacks").btn.btn-lg.btn-primary Back This Project
				br
				br
		div.col-md-4
			div.center
				a(href="/projects/salmon")
					img.img-fluid(src=links.salmon.moneyshot)
				h3 #{content.salmon[0].Title}
				a(href="/projects/salmon").btn.btn-lg.btn-primary Back This Project
				br
				br
		div.col-md-4
			div.center
				a(href="/projects/microplastics")
					img.img-fluid(src=links.microplastics.moneyshot)
				h3 #{content.microplastics[0].Title}
				a(href="/projects/microplastics").btn.btn-lg.btn-primary Back This Project
				br
				br

	br
	br
	br
	br
			
